.wrapper{
    /* height:150px; */
    width: 100%;
    margin: 0 auto;
    padding-block: 5rem;
}

 h1{
    font-weight: 800;
    text-align: center;
    color: #333;
    padding-top: 20px;
    font-size: 32px;

}

.subtitle{
    font-size: 18px;
    color: #999;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.brokenImage{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: grid;
    align-items: center;
    place-content: center;
    place-items: center;
    align-content: center;  
}
.brokenImage svg{
    width: 90%;
    height: 90%;
    fill: #999;
}