
.event_photos_skeletom {
  width: 100%;
  height: 500px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }


.event_photos {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
.event_photos, img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .event_photos, iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
  
}

.sample_arrow {
  z-index: 1;
  transform: none;
  position: absolute;
  padding: 12px;
  top: 45%;
  border-radius: 256px;
  background-color: rgba(255, 255, 255, 0.76);
  cursor: pointer;
}
.sample_arrow .next_arrow ,  .sample_arrow .prev_arrow  {
    right: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .sample_arrow .next_arrow:hover ,  .sample_arrow .prev_arrow:hover {
      background: crimson;
    }

    .sample_arrow svg {
      color: #9999;
      width: 18px;
      height: 18px;
    }
  

    .sample_arrow .prev_arrow {
    right: auto;
    left: 30px;
}

.slider_container ul {
  transform: translateY(-50px);
}

.slick-dots.slick-thumb {
  display: flex;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 8px;
  height: 8px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  border-radius: 50%;
  background-color: #0b2fb6;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: #0b2fb6;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* slider */
.swiper {
  overflow: visible;
}

.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;

}
.swiper-button-prev,
.swiper-button-next::after {
  font-size: 0.7rem;
  font-weight: 900;
}

.swiper-button-next:hover {
    border-color: transparent;
    background-color: #0b2fb6;
}
